[Match]
Name=en*
Name=eth*

[Network]
DHCP=yes
# Use short timeouts for PXE environments
DHCPSendRelease=yes

[DHCPv4]
UseDNS=yes
UseNTP=yes
UseHostname=yes
SendHostname=yes
RouteMetric=100
